/Codigo/Cliente/DominioDTO/nbproject/private/
/Codigo/Cliente/PipesAndFilters/nbproject/private/
/Codigo/Servidor/Dominio/build/
/Codigo/Servidor/PipesAndFilters/build/
/Codigo/Servidor/Dominio/dist/
/Codigo/Servidor/DominioDTO/build/
/Codigo/Servidor/DominioDTO/dist/
/Codigo/Servidor/PipesAndFilters/dist/